<ion-view view-title="Album" ng-controller="AlbumCtrl">
  <ion-nav-title>
        <img src="img/headerIcon.png" width="auto" height="38px" style="float:left"/><h1 class="title">Album</h1>
  </ion-nav-title>
  <ion-floating-menu>
    <ion-floating-item icon="ion-camera" button-color="#2AC9AA" click="addPictureFromCamera()"></ion-floating-item>
    <ion-floating-item icon="ion-images" button-color="#2AC9AA" click="addPictureFromGallery()"></ion-floating-item>
  </ion-floating-menu>
  <ion-content>
    <!--<div>
      <img ng-src="{{collection.selectedImage}}" style="width:100%; height: auto;"/>
      <p>{{objImages.length}}</p>
      <p>{{objImages[$index].src}}</p>
    </div>-->
    <diV class="row" ng-if="allImages.length < 1">
        <div class="col">
            <div class="text-center">
                <h4 style="text-align: center;">Para añadir fotos clica en el botón <i class="icon ion-plus-circled"></i> y     podrás agregar fotos desde tu cámara <i class="icon ion-camera"></i> o galería <i class="icon ion-images"></i></h4>
                <img src="./img/arrow-down-right.png" style="width:60%; height:60%; margin-top:12px;"/>
            </div>
        </div>
    </div>

    <div class="row" ng-repeat="image in allImages" ng-if="$index % 2 === 0">
      <div class="col col-50" ng-if="$index < allImages.length">
        <img ng-src="{{allImages[$index]}}" class="album-img-cover"/>
      </div>
      <div class="col col-50" ng-if="$index + 1 < allImages.length">
        <img ng-src="{{allImages[$index +1]}}" class="album-img-cover"/>
      </div>
    </div>
  </ion-content>
</ion-view>
