<ion-view view-title="Tiendas">
   <ion-nav-title>
       <img class="img-nav-bar"/><h1 class="title">Tiendas</h1>
       <h1 class="title"> Tiendas</h1>
  </ion-nav-title>
  <ion-content  overflow-scroll="false" has-bouncing="true">
    <ion-list class="animate-ripple store-item">
      <ion-item class="item-avatar" ng-repeat="store in storeslist" href="#/app/storedetail/{{store.id}}">
        <img src="{{store.thumbnail}}">
        <h2> {{store.name}}</h2>
        <p>{{store.description}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
