<ion-view view-title="TemporalContent">
  <ion-nav-title>
    <img src="img/babyappHeader.png" width="auto" height="36px" style="margin-top: 3px;">
  </ion-nav-title>
  <ion-content overflow-scroll="false">
    <div class="list card">
      <div class="item item-body">
        <img class="full-image" src="./img/babyappTemporal.png">
        <h2>OPCIÓN NO DISPONIBLE</h2>
        <p>Esta funcionalidad no esta disponible en la version lite, para poder acceder a todas las funcionalidades debes descargar la versión Pro de BabyApp</p>
      </div>
    </div>
  </ion-content>
</ion-view>
