<ion-view view-title="Utilidades">
  <!--<ion-nav-title>
    <img src="img/babyappHeader.png" height="100%">
  </ion-nav-title>-->
    <ion-content  overflow-scroll="false" has-bouncing="true">
      <ion-list>
        <ion-item class="item-avatar" href="#/app/temporalpage">
          <img src="img/icons/dashButton.png">
          <h2>Cuenta pataditas</h2>
          <p>Cuentas la frecuencia de las pataditas del bebé</p>
        </ion-item>
        <ion-item class="item-avatar" href="#/app/temporalpage">
          <img src="img/icons/calendarButton.png">
          <h2>Balanza</h2>
          <p>Permite guardar diariamente tu peso</p>
        </ion-item>
        <ion-item class="item-avatar" href="#/app/temporalpage">
          <img src="img/icons/sizesButton.png">
          <h2>Tallas</h2>
          <p>Permite calcular la talla de ropa de tu bebé</p>
        </ion-item>
        <ion-item class="item-avatar" href="#/app/temporalpage">
          <img src="img/icons/weeksButton.png">
          <h2>Seguimiento de contracciones</h2>
          <p>Permite medir la frecuencia de las contracciones</p>
        </ion-item>
        <ion-item class="item-avatar" href="#/app/temporalpage">
          <img src="img/icons/icon2.png">
          <h2>Kit nacimiento</h2>
          <p>Listado de cosas esenciales para el día que nace tu bebé</p>
        </ion-item>
          <!--<ion-item nav-clear menu-close class="item-icon-right item-avatar">
            <img src="img/icons/icon2.png">
            <h2>Kit nacimiento</h2>
            <p>Listado de cosas esenciales para el día que nace tu bebé</p>
          </ion-item>-->
      </ion-list>
    </ion-content>
</ion-view>
