<ion-modal-view title="Cambiar estado">
    <ion-header-bar align-title="center" class="bar-light">
        <img src="img/headerIcon.png" width="auto" height="38px"/><h1 class="title"> Cambiar estado</h1>
         <div class="buttons">
            <button class="button button-clear" ng-click="closeStatusModal('')">Cerrar</button>
        </div>
    </ion-header-bar>

    <ion-content>
       <ion-list type="list-inset">
            <ion-radio ng-model="statusData.current" ng-repeat="userstatus in userstatuslist" ng-click="closeStatusModal(userstatus)">
              {{userstatus}}
            </ion-radio>
<!--
           <ion-radio ng-value="triste" ng-model="status.current" ng-click="closeStatusModal(status)">
               Me siento triste
           </ion-radio>
-->
        </ion-list>
    </ion-content>
</ion-modal-view>
